<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Moj Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">{{bgs.id}}.&ThinSpace;{{bgs.title}}</h5>
        <p class="card-text">{{bgs.body}} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis fuga dolor dolores libero explicabo quo reprehenderit tenetur impedit nulla, quod amet harum repellat ipsum, repellendus reiciendis iure sed vel eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro neque vitae modi quis provident! Nobis, qui, nam, quam voluptatem quibusdam inventore sapiente saepe rerum quasi repellendus culpa doloremque optio cum.
        Ducimus voluptatem ipsam dicta impedit nemo sit molestias a commodi neque, eligendi sequi. Fugit odio quo repellat corrupti tenetur labore esse accusantium aliquam iste quas, doloremque, illum, sint distinctio consequuntur!
        Aut magni aliquam corrupti sit ducimus repellat atque delectus ex a velit exercitationem rerum, sapiente recusandae voluptates dolores suscipit, vero sunt assumenda. Illum eius ut autem recusandae molestias deserunt? Rem?
        Quam voluptates, explicabo ut odio minus officiis doloremque, nihil quae iure maiores in, beatae obcaecati distinctio placeat esse necessitatibus. Sequi libero nemo quo minus doloribus, possimus numquam repudiandae provident laboriosam!
        Velit, facere architecto praesentium ipsam, delectus soluta atque excepturi voluptas totam adipisci laudantium repellendus similique minus illum dolores nobis ad rem sunt magni, in consequatur eos aperiam. Accusamus, voluptatibus illum!
        Nihil mollitia tempore est adipisci dolor qui doloremque beatae iste voluptatum? Ea eveniet nobis nemo est! Quam laudantium, debitis molestias sit pariatur tenetur perferendis quaerat reiciendis, sequi veritatis corporis vitae?
        Quaerat ab dicta vel corrupti, reprehenderit mollitia dignissimos! Amet rem sapiente, modi quibusdam aspernatur dolore ab molestiae, unde pariatur ipsa beatae minus nemo est. Alias blanditiis labore quos consectetur facilis.
        Nobis ea blanditiis beatae, assumenda eius quidem. Delectus quae corrupti, magni rerum cupiditate, eius aperiam similique explicabo enim minus earum maxime optio. Magnam corrupti nobis, mollitia iure vero laudantium. Culpa!
        Impedit saepe explicabo expedita animi culpa incidunt ab facere eligendi iure doloremque vel veniam ipsum recusandae optio, eaque magni fugit est. Ad vel magnam, non accusantium quasi sit corrupti assumenda!
        Rerum accusamus pariatur voluptatem consequatur, repellendus eligendi. Exercitationem, debitis nemo! Enim, neque harum maxime dolorem quae optio sed porro, sit aperiam officiis corrupti vitae inventore rerum dolorum iste non error.</p>
        <p class="card-text"><small class="text-muted">Posted by : user {{bgs.userId}}</small></p>
    </div>
</div>